.circles {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    filter: blur(3px);
}

.stars {
    filter: unset;
}

.stars > .circle {
    mask-image: url("/icons/star_filled.svg");
    mask-size: contain;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
}

.circle.error {
    animation: animate 4s linear infinite;
}

.circle:nth-child(1) {
    background: var(--primary-color);
    animation-delay: 0s;
    top: 15vh;
    left: 20vw;
    rotate: -10deg;
}

.circle:nth-child(2) {
    background: var(--accent-color);
    animation-delay: 1s;
    top: 40vh;
    right: 10vw;
    rotate: 30deg;
}

.circle:nth-child(3) {
    background: var(--secondary-color);
    animation-delay: 2s;
    bottom: 20vh;
    left: 30vw;
    rotate: -20deg;
}

.circle:nth-child(1).error {
    background: #C63D2F;
}

.circle:nth-child(2).error {
    background: #FFBB5C;
}

.circle:nth-child(3).error {
    background: #FF9B50;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 1520px) or (max-height: 650px) {
    .circle {
        display: none;
    }
}