#mainImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    aspect-ratio: 21/9;
}

h2 {
    text-align: center;
    margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

form > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

}

form textarea {
    width: 100%;
    aspect-ratio: 41/9;
    padding: 10px;
    margin: 5px 0 10px 0;
    border-radius: 0.5rem;
    border: 1px solid var(--fg-color);
    font-family: inherit;
}

.success {
    padding: 1rem;
    color: #1e7e34;
    font-weight: bold;
    text-align: center;
}

.errors {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errors p {
    font-weight: bold;
}

.errors li {
    color: #931111;
}