:root {
    --primary-color: #0069b4;
    --secondary-color: #00B1AA;
    --accent-color: #AF2BBF;

    --fg-color: #1B1B1E;
    --bg-color: #faf9ff;

    --box-shadow: 20px 20px 60px #d5d5d5,
    -20px -20px 60px #ebebeb
}

* {
    scroll-behavior: smooth;
    color: var(--fg-color);
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

body {
    background-color: var(--bg-color);
    border-radius: 0.5rem;
    min-height: 100vh
}

img {
    text-align: center;
}

body > h2 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/* From: https://www.joshwcomeau.com/css/full-bleed/ */
.base-layout {
    display: grid;
    grid-template-columns:
            1fr
            min(80ch, 100%)
            1fr;
}

.base-layout > * {
    grid-column: 2;
}

.base-layout > .full-bleed {
    grid-column: 1 / -1;
}

.base-layout > .controlled {
    margin-left: auto;
    margin-right: auto;
    width: max(min(80ch, 100%), 85%)
}

header {
    display: grid;
    height: min-content;
    gap: 1rem;
    grid-template-columns:
            1fr
            min(80ch, calc(100% - 10rem)) /* 6rem = 5rem (logo) + 1rem (gap) */
            1fr;
    padding: 1rem 0;
    border-bottom: color-mix(in srgb, var(--fg-color), var(--bg-color)) 1px solid;
}

header .logo {
    grid-column: 1;
    justify-self: end;
    width: 5rem;
    display: flex;
    align-items: center;
}

header .user {
    grid-column: 3;
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

header .user span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -2px;
}

@media (max-width: 120ch) {
    header .user > span {
        display: none;
    }
}

header > nav {
    grid-column: 2;
}

header > nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

header > nav > a {
    font-weight: bolder;
    color: var(--primary-color);
    text-decoration: none;
}

#menu {
    display: none;
}

#overlay {
    display: none;
}

@media (max-width: 600px) {
    #overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
    }

    #overlay.active {
        display: block;
    }

    #menu {
        display: block;
        margin-left: auto;
        justify-self: end;
        grid-column: 3;
        aspect-ratio: 1;
    }

    header > .user, header > nav {
        display: none;
    }

    #overlay > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        border-radius: 1rem;
        padding: 2rem;
        min-width: min(80%, 20rem);
    }

    #overlay nav {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
    }

    #overlay nav a {
        text-decoration: none;
        font-weight: 600;
    }

    #overlay nav a:hover {
        text-decoration: none;
        font-weight: 700;
    }

}


#intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
}

#intro > img {
    border-radius: 0.5rem;
    border: color-mix(in srgb, var(--fg-color), var(--bg-color)) 1px solid;
    aspect-ratio: 21/6;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#intro > .alerts:empty {
    display: none;
}

#announcements {
    font-weight: bold;
    font-size: xx-large;
}

.food-menu {
    width: min(66rem, 100%);
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

@media (max-width: 1055px) {
    .food-menu :nth-child(5) {
        display: none;
    }

    .food-menu :nth-child(6) {
        display: none;
    }
}

.star-rating {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

.testimonials {
    width: min(66rem, 100%);
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
}

.testimonials > a {
    margin-top: 1rem;
}

.testimonials > p {
    color: color-mix(in srgb, var(--fg-color), var(--bg-color));
    margin-bottom: 1rem;
}

.testimonials-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.5rem 2rem;
    width: 100%;
}

.testimonial-card {
    position: relative;
    padding-top: 6rem;
}

.card-img-div {
    display: flex;
    position: absolute;
    margin-top: -5rem;
    justify-content: center;
    width: 100%;
}

.card-img {
    z-index: 1;
    object-fit: cover;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    text-align: center;
    background-color: #ffffff;
    filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.card-img:hover {
    opacity: 10%;
}

.card-img-div > div {
    height: 99%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: small;
    /*mask circle*/
    clip-path: circle(50% at 50% 50%);
    aspect-ratio: 1;
    padding: 0.5rem;
    background-color: var(--fg-color);
}

.card-img-div > div > p {
    color: white;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.testimonial-card-content {
    border-radius: 0.5rem;
    background-color: white;
    padding: 4rem 1.5rem 1.5rem;
    margin-bottom: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.testimonial-card-comment {
    color: color-mix(in srgb, var(--fg-color) 70%, var(--bg-color));
    font-weight: normal;
    margin-top: auto;
    margin-bottom: auto;
}

.testimonial-card-author {
    color: color-mix(in srgb, var(--fg-color) 85%, var(--bg-color));
    font-weight: 500;
}

.testimonial-card-content > *:last-child {

}

.mensa-stats {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.mensa-stats > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.mensa-stats > div > span {
    font-weight: bold;
    font-size: xx-large;
    color: var(--primary-color);
}

.mensa-stats > div > p {
    text-align: center;
}

.newsletter > div {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.newsletter > label, input, select {
    display: block;
}

input[type="text"], input[type="email"], input[type="password"], select, textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 0.5rem;
    border: 1px solid color-mix(in srgb, var(--fg-color) 30%, var(--bg-color));
}

button[type="submit"]:not(.text-submit) {
    width: fit-content;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:not(.text-submit):hover {
    background-color: color-mix(in srgb, var(--primary-color), var(--fg-color) 20%);
}

button[type="submit"]:not(.text-submit):active {
    background-color: color-mix(in srgb, var(--primary-color), var(--fg-color) 40%);
}

button[type="submit"].text-submit {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    font-size: unset;
    cursor: pointer;
    padding: 0;
}

.important-to-us {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: auto;
    border-top: #000000 1px solid;
}

footer > ul {
    display: flex;
    justify-content: center;
}

footer > ul > li {
    display: inline;
    text-align: center;
}

footer > ul > li:not(:first-child):before {
    content: "";
    border-left: 1px solid #989898;
    margin-left: 1rem;
    margin-right: 1rem;
}

.alert {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 600;
}

.alert-danger {
    color: #a94442;
    background-color: #f1cfcf;
    border: 1px solid #ebccd1;
    font-weight: 600;
}

.alert-warning {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #faebcc;
    border-radius: 4px;
    color: #a16207;
    background-color: #fefce8;
    font-weight: 600;
}

.alert-success {
    color: #3c763d;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    font-weight: 600;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    font-weight: 600;
}

.alert-warning:before, .alert-danger:before {
    display: inline-block;
    content: url(data:image/svg+xml,%3Csvg%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22currentColor%22%20aria-hidden%3D%22true%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M8.257%203.099c.765-1.36%202.722-1.36%203.486%200l5.58%209.92c.75%201.334-.213%202.98-1.742%202.98H4.42c-1.53%200-2.493-1.646-1.743-2.98l5.58-9.92zM11%2013a1%201%200%2011-2%200%201%201%200%20012%200zm-1-8a1%201%200%2000-1%201v3a1%201%200%20002%200V6a1%201%200%2000-1-1z%22%20clip-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
    height: 1.25rem;
    width: 1.25rem;
    margin-bottom: -2px;
}

.alert-warning:before {
    /* https://angel-rs.github.io/css-color-filter-generator/ */
    /* #facc15 */
    filter: brightness(0) saturate(100%) invert(90%) sepia(25%) saturate(3971%) hue-rotate(347deg) brightness(105%) contrast(96%);
}

.alert-danger:before {
    /* https://angel-rs.github.io/css-color-filter-generator/ */
    /* #9b1c1c */
    filter: brightness(0) saturate(100%) invert(18%) sepia(74%) saturate(3833%) hue-rotate(350deg) brightness(67%) contrast(91%);
}

.alert-success:before {
    content: '✔';
}

.alert-info:before {
    content: 'ⓘ';
}